[submodule "components/esp-homekit"]
	path = components/esp-homekit
	url = https://github.com/maximkulkin/esp-homekit
[submodule "components/esp-wolfssl"]
	path = components/esp-wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl
[submodule "components/esp-cjson"]
	path = components/esp-cjson
	url = https://github.com/maximkulkin/esp-cjson
[submodule "components/esp-wifi-config"]
	path = components/esp-wifi-config
	url = https://github.com/maximkulkin/esp-wifi-config.git
[submodule "components/esp-adv-button"]
	path = components/esp-adv-button
	url = https://github.com/RavenSystem/esp-adv-button.git
[submodule "components/UDPlogger"]
	path = components/UDPlogger
	url = https://github.com/HomeACcessoryKid/UDPlogger.git
[submodule "components/esp-homekit-common-functions"]
	path = components/esp-homekit-common-functions
	url = https://github.com/maccoylton/esp-homekit-common-functions
